<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<!-- <script type="text/javascript" src="js/login.js"></script></head> -->
<body>
	<form th:action="@{/login}" th:object="${login}"  name='login' style="border:1px solid #ccc" method="post">
  <div class="container">
    <h1>Login</h1>
    <p>Please fill in this form to login.</p>
    <hr>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" th:field="*{userName}" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" th:field="*{password}" name="psw" required>

    <label><b>Select User type</b></label>
    <select name="type" th:field="*{userType}">
      <option value="buyer">buyer</option>
      <option value="supplier">supplier</option>
      <option value="appManager">manager</option>
    </select>

    <div style="margin:20px;" class="clearfix">
      <button type="submit" class="signupbtn">Login</button>
    </div>
  </div>
</form>
</body>
</html>