<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script>

        function updateBuyer() {
            alert("update the buyers");
            window.location.href = 'http://localhost:8080/updateBuyer';
        }
        function updateSupplier() {
            alert("update the suppliers");
            window.location.href = 'http://localhost:8080/updateSupplier';
        }

        function hello() {
            alert("hello");
        }

    </script>

<title></title>
</head>
<body>

<div style="margin: 30px;">
    <button  type="button" onclick="hello()" >hello</button>
    <button type="button" onclick="updateBuyer()" >View, Delete and Update Buyers</button>
    <button onclick="updateSupplier()">View, Delete and Update Suppliers</button>
    <button onclick="updateLoc()">View, Delete and Update Locations</button>

</div>
<h2>Create Location</h2>
<div style="margin: 50px;">
    <input type="text" id="loc" placeholder="New location name">
    <input type="text" id="add" placeholder="New Address for location">

    <!--dLocation()">Add new location</button>-->
</div>
<br/>
<br/>
<br/>
<h2>Create Coupon</h2>
<a href="/login/manager/coupon"> Create New Coupon </a>

<div id="allFeedback" style="margin: 50px;">
    <h2>All Feedbacks Given By Buyer</h2>
</div>
</body>
</html>