<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>hii, I am buyer</title>
</head>
<body>

<h1> Hii, Delete Buyer </h1>

<form th:object="${updateBuyer}" th:action="@{updateBuyer}">

<label><b>Username</b></label>
<input type="text" placeholder="Enter Username" th:field="*{userName}" name="username" required>

<label><b>Password</b></label>
<input type="password" placeholder="Enter Password" th:field="*{password}" name="psw" required>

    <div style="margin:20px;" class="clearfix">
        <button type="submit">Update</button>
    </div>

</form>

</body>
</html>